name: Update products.json

on:
  schedule:
    - cron: "0 17 * * *"   # каждый день в 03:00 UTC
  workflow_dispatch:       # запуск вручную через GitHub

jobs:
  update-json:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.11"

      - name: Install deps
        run: pip install requests

      - name: Generate products.json
        run: python scripts/yml_to_json.py

      - name: Commit & Push
        run: |
          git config user.name "github-actions"
          git config user.email "actions@github.com"
          git add products.json
          git commit -m "Автообновление products.json"
          git push
